[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mads-Henrik Hegge-Olsen
	email = 66017942+madshegge@users.noreply.github.com
[credential]
	helper = manager-core
